generator/src/main/resources/mei-zero.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.music-encoding.org/ns/mei"><!--
Schema generated from ODD source 2025-12-14T04:58:47Z. . 
TEI Edition: MEI 6.0-dev 
TEI Edition Location: https://www.tei-c.org/Vault/P5// 
  
--><!--[https://opensource.org/license/ECL-2.0/] Licensed under the Educational Community License version 2.0-->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="mei_data.URI">
      <data type="anyURI"/>
   </define>
   <define name="mei_fileDesc">
      <element name="fileDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(file description) Contains a full bibliographic description of the MEI file.</a:documentation>
         <ref name="mei_titleStmt"/>
         <ref name="mei_att.common.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mei_titleStmt">
      <element name="titleStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title statement) Container for title and responsibility meta-data.</a:documentation>
         <zeroOrMore>
            <ref name="mei_model.headLike"/>
         </zeroOrMore>
         <oneOrMore>
            <ref name="mei_model.titleLike"/>
         </oneOrMore>
         <ref name="mei_att.common.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mei_att.basic.attributes">
      <ref name="mei_att.id.attributes"/>
      <ref name="mei_att.basic.attribute.xmlbase"/>
   </define>
   <define name="mei_att.basic.attribute.xmlbase">
      <optional>
         <attribute name="xml:base">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Provides a base URI reference with which applications can resolve relative URI references into absolute URI references.</a:documentation>
            <ref name="mei_data.URI"/>
         </attribute>
      </optional>
   </define>
   <define name="mei_att.classed.attributes">
      <ref name="mei_att.classed.attribute.class"/>
   </define>
   <define name="mei_att.classed.attribute.class">
      <optional>
         <attribute name="class">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Contains one or more URIs which denote classification terms that apply to the entity bearing this attribute.</a:documentation>
            <list>
               <oneOrMore>
                  <ref name="mei_data.URI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="mei-zero-att.classed-class-check_classURI-constraint-rule-7">
      <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                context="@class">
         <sch:assert test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:category/@xml:id or matches($i, '^([a-z]+://|\.{1,2}/)')">The value in @class must either correspond to the @xml:id attribute of a category
                element or be an external URL.</sch:assert>
      </sch:rule>
   </pattern>
   <define name="mei_att.common.attributes">
      <ref name="mei_att.basic.attributes"/>
      <ref name="mei_att.typed.attributes"/>
   </define>
   <define name="mei_att.id.attributes">
      <ref name="mei_att.id.attribute.xmlid"/>
   </define>
   <define name="mei_att.id.attribute.xmlid">
      <optional>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Regularizes the naming of an element and thus facilitates building links between it and other resources. Each id attribute within a document must have a unique value.</a:documentation>
            <data type="ID"/>
         </attribute>
      </optional>
   </define>
   <define name="mei_att.meiVersion.attribute.meiversion">
      <optional>
         <attribute name="meiversion">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Specifies a generic MEI version label.</a:documentation>
            <choice>
               <value>6.0-dev</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Version of MEI</a:documentation>
               <value>6.0-dev+anyStart</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Version of MEI All AnyStart customization</a:documentation>
               <value>6.0-dev+basic</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Version of MEI Basic customization</a:documentation>
               <value>6.0-dev+cmn</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Version of MEI CMN customization</a:documentation>
               <value>6.0-dev+mensural</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Version of MEI Mensural customization</a:documentation>
               <value>6.0-dev+neumes</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Version of MEI Neumes customization</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="mei-zero-att.meiVersion-meiVersion.onlyRoot-constraint-rule-8">
      <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                context="/mei:*//*">
         <sch:report test="@meiversion">The @meiversion attribute is not allowed on elements that are not the document root element.</sch:report>
      </sch:rule>
   </pattern>
   <define name="mei_att.typed.attributes">
      <ref name="mei_att.classed.attributes"/>
      <ref name="mei_att.typed.attribute.type"/>
   </define>
   <define name="mei_att.typed.attribute.type">
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Designation which characterizes the element in some sense, using any convenient classification scheme or typology that employs single-token labels.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="NMTOKEN"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="mei_model.headLike">
      <notAllowed/>
   </define>
   <define name="mei_model.titleLike">
      <choice>
         <ref name="mei_title"/>
      </choice>
   </define>
   <define name="mei_title">
      <element name="title">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Title of a bibliographic entity.</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
            </choice>
         </zeroOrMore>
         <ref name="mei_att.basic.attributes"/>
         <ref name="mei_att.classed.attributes"/>
         <optional>
            <attribute name="level">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicates the bibliographic level of the title.</a:documentation>
               <choice>
                  <value>a</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Analyzed component, such as an article or chapter, within a larger bibliographic entity.</a:documentation>
                  <value>c</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Collection. A group of items that were not originally published, distributed, or produced together.</a:documentation>
                  <value>d</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Subunit of a collection, e.g., item, folder, box, archival series, subgroup, or subcollection.</a:documentation>
                  <value>i</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Integrating resource, such as a continuously updated loose-leaf service or Web site.</a:documentation>
                  <value>m</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Monograph.</a:documentation>
                  <value>j</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Journal.</a:documentation>
                  <value>s</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Series.</a:documentation>
                  <value>u</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Unpublished (including theses and dissertations unless published by a commercial press).</a:documentation>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Characterizes the title in some sense, using any convenient classification scheme or typology that employs single-token labels.
Suggested values include: 1] main; 2] subordinate; 3] abbreviated; 4] alternative; 5] translated; 6] uniform; 7] desc</a:documentation>
               <choice>
                  <value>main</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Main title.</a:documentation>
                  <value>subordinate</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Subtitle or title of part.</a:documentation>
                  <value>abbreviated</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Abbreviated form of title.</a:documentation>
                  <value>alternative</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Alternate title by which the item is also known.</a:documentation>
                  <value>translated</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Translated form of title.</a:documentation>
                  <value>uniform</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Collective title.</a:documentation>
                  <value>desc</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Descriptive paraphrase of the work.</a:documentation>
                  <data type="NMTOKENS"/>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <start>
      <choice/>
   </start>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           xmlns:xi="http://www.w3.org/2001/XInclude"
           prefix="mei"
           uri="http://www.music-encoding.org/ns/mei"/>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           xmlns:xi="http://www.w3.org/2001/XInclude"
           prefix="xlink"
           uri="http://www.w3.org/1999/xlink"/>
</grammar>
